<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Whispers</title>
</head>
<body>
    <h1>Whispers</h1>
    <ul>
        <% whispers.forEach(function(whisper) { %>
            <li><%= whisper.message %></li>
        <% }) %>
    </ul>
</body>
</html>
